html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: rgb(101, 49, 148);
  z-index: -111;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -111;
}

body::before {
  text-shadow: 1.312755206em 0.0992124446em 7px hsla(73.7134816835, 100%, 50%, 0.9), 0.3721579199em 0.9164599276em 7px hsla(110.4928272434, 100%, 50%, 0.9), 1.3897266114em 1.3898788596em 7px hsla(112.6858368761, 100%, 50%, 0.9), 0.3501017307em -0.0042347197em 7px hsla(14.4475110732, 100%, 50%, 0.9), 2.3370360687em 0.2593350605em 7px hsla(113.6711976367, 100%, 50%, 0.9), 2.2615559041em 0.4543589046em 7px hsla(183.6275576497, 100%, 50%, 0.9), 1.1326149749em 1.0786858417em 7px hsla(118.7492616155, 100%, 50%, 0.9), 2.3599762266em 2.269150602em 7px hsla(204.2492095649, 100%, 50%, 0.9), 0.1149272747em 0.9809140644em 7px hsla(84.2770862587, 100%, 50%, 0.9), -0.2103813779em 0.4488223023em 7px hsla(72.8350846446, 100%, 50%, 0.9), 1.6909588042em 0.0192648099em 7px hsla(317.3293360999, 100%, 50%, 0.9), 1.758080978em 1.0399079209em 7px hsla(283.27785948, 100%, 50%, 0.9), 2.0434306708em 0.134946519em 7px hsla(15.3383258767, 100%, 50%, 0.9), 1.5296853436em 0.7077528548em 7px hsla(244.5213491987, 100%, 50%, 0.9), 0.7011914278em 2.0056381654em 7px hsla(171.8679193524, 100%, 50%, 0.9), 2.356732974em 2.2599967901em 7px hsla(341.0056649923, 100%, 50%, 0.9), 0.8582707934em 0.0665253501em 7px hsla(61.2234767156, 100%, 50%, 0.9), 1.6094017101em 2.1995777402em 7px hsla(145.7520623085, 100%, 50%, 0.9), 1.1673974018em 0.9865820136em 7px hsla(118.1771697375, 100%, 50%, 0.9), 2.3229047724em 1.1715752477em 7px hsla(293.5638148103, 100%, 50%, 0.9), 1.1782799307em 0.6694957859em 7px hsla(280.9084440224, 100%, 50%, 0.9), 2.3218313448em 0.7443080058em 7px hsla(313.6750862983, 100%, 50%, 0.9), 2.0220118939em 0.0509347272em 7px hsla(110.279676492, 100%, 50%, 0.9), 0.1863716934em 1.5049079208em 7px hsla(291.3002745007, 100%, 50%, 0.9), 2.3132476492em 1.4663351527em 7px hsla(166.4298733622, 100%, 50%, 0.9), 1.4952729286em 2.3250345621em 7px hsla(80.7469103487, 100%, 50%, 0.9), 1.8992445536em 0.094846646em 7px hsla(106.1046140915, 100%, 50%, 0.9), 1.2013508947em -0.3006500741em 7px hsla(55.224565914, 100%, 50%, 0.9), 0.0085976531em 2.2473619818em 7px hsla(255.4825310883, 100%, 50%, 0.9), 1.5996503564em 0.9562483357em 7px hsla(172.7609414495, 100%, 50%, 0.9), 1.3645528315em 0.222565238em 7px hsla(133.7269159222, 100%, 50%, 0.9), 0.2229724065em 0.4714829405em 7px hsla(316.0044577516, 100%, 50%, 0.9), 2.0291666018em 1.9706720938em 7px hsla(286.8165410787, 100%, 50%, 0.9), 0.115676934em 2.135512231em 7px hsla(307.776320059, 100%, 50%, 0.9), -0.0053426995em -0.4444983169em 7px hsla(346.597016463, 100%, 50%, 0.9), -0.1755432206em 0.2734938932em 7px hsla(34.0492167765, 100%, 50%, 0.9), -0.1921545559em 1.1987476012em 7px hsla(250.8696794411, 100%, 50%, 0.9), 1.1642215279em 1.9879558945em 7px hsla(203.8777452792, 100%, 50%, 0.9), 1.7363504093em 0.4165234716em 7px hsla(255.4762574972, 100%, 50%, 0.9), 2.2092950744em 0.2667388003em 7px hsla(260.5355410259, 100%, 50%, 0.9), -0.0194830357em 0.6185948167em 7px hsla(86.2395555591, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
  z-index: -111;
}

body::after {
  text-shadow: 1.8687263526em 0.5336748594em 7px hsla(312.9740652706, 100%, 50%, 0.9), 1.4863203239em 1.9020067682em 7px hsla(39.596206083, 100%, 50%, 0.9), 1.1745110874em 0.8978174555em 7px hsla(36.4178270562, 100%, 50%, 0.9), 1.2909399138em 0.5957352622em 7px hsla(63.9548023319, 100%, 50%, 0.9), 0.3284414573em 1.607475225em 7px hsla(33.9453475065, 100%, 50%, 0.9), 2.1316569905em 1.924118714em 7px hsla(189.432520587, 100%, 50%, 0.9), 0.77079778em 0.058663644em 7px hsla(356.836312693, 100%, 50%, 0.9), 1.2518992225em 1.260711787em 7px hsla(147.2108068209, 100%, 50%, 0.9), 0.710066295em -0.2757744387em 7px hsla(13.8708611512, 100%, 50%, 0.9), -0.2341944999em 1.6401333799em 7px hsla(301.3914783578, 100%, 50%, 0.9), 1.2063573394em -0.0517251321em 7px hsla(17.9239253436, 100%, 50%, 0.9), 1.3505703384em 0.5626718271em 7px hsla(46.4434532885, 100%, 50%, 0.9), 1.8697036602em 1.1844048713em 7px hsla(324.618032809, 100%, 50%, 0.9), 2.2946611274em 0.934708398em 7px hsla(22.6951153173, 100%, 50%, 0.9), 0.4485318289em 0.8511024242em 7px hsla(286.7392548037, 100%, 50%, 0.9), -0.2429089509em -0.2791999102em 7px hsla(128.7446320428, 100%, 50%, 0.9), 2.397447256em 2.2315181275em 7px hsla(159.2019982636, 100%, 50%, 0.9), 0.6245042493em 1.5474562055em 7px hsla(324.0791312032, 100%, 50%, 0.9), 0.4309318173em -0.4575850964em 7px hsla(74.3848000541, 100%, 50%, 0.9), 2.3151824874em 0.2555541461em 7px hsla(234.9298850015, 100%, 50%, 0.9), 1.5061869495em 0.2743531365em 7px hsla(150.5643442991, 100%, 50%, 0.9), -0.1265956589em 1.7943475419em 7px hsla(138.5702881869, 100%, 50%, 0.9), 1.6386829946em 1.2124643114em 7px hsla(227.8537213033, 100%, 50%, 0.9), 1.6161425775em -0.4211909545em 7px hsla(51.0574831355, 100%, 50%, 0.9), 0.3134615677em 0.8768512295em 7px hsla(344.1808792126, 100%, 50%, 0.9), -0.1423257749em 1.7635198246em 7px hsla(346.8718168382, 100%, 50%, 0.9), 2.0335309278em 1.7975820004em 7px hsla(25.8119941042, 100%, 50%, 0.9), 0.1596463669em -0.4391756591em 7px hsla(35.3346122652, 100%, 50%, 0.9), 0.9130751107em 1.683388898em 7px hsla(227.623903674, 100%, 50%, 0.9), 1.3408474418em 1.2624758482em 7px hsla(8.9588807271, 100%, 50%, 0.9), 0.9618539538em 2.3494317072em 7px hsla(116.0394371674, 100%, 50%, 0.9), 2.0983969515em 0.2477475492em 7px hsla(22.3792760553, 100%, 50%, 0.9), 0.0619553772em 1.1729716121em 7px hsla(344.9455688972, 100%, 50%, 0.9), 1.9199121156em 1.8542967865em 7px hsla(180.7018601541, 100%, 50%, 0.9), 0.6386244247em 0.2107196388em 7px hsla(183.4529632284, 100%, 50%, 0.9), 2.4345538384em 2.1009765797em 7px hsla(39.9750953091, 100%, 50%, 0.9), 0.6032993641em 0.2825702437em 7px hsla(77.8623892667, 100%, 50%, 0.9), 1.8579523815em 1.0761981507em 7px hsla(192.4608898675, 100%, 50%, 0.9), 0.1129324055em -0.1562521582em 7px hsla(202.4447101044, 100%, 50%, 0.9), 0.6867194062em -0.1053730988em 7px hsla(210.7948844417, 100%, 50%, 0.9), 0.6220330912em 0.6883382861em 7px hsla(349.3956081585, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
  z-index: -111;
}

head::before {
  text-shadow: 0.2768901431em 2.1647066386em 7px hsla(335.9926977372, 100%, 50%, 0.9), -0.3786500583em -0.07902952em 7px hsla(115.9427325783, 100%, 50%, 0.9), -0.1088168682em 0.48859864em 7px hsla(314.9289608239, 100%, 50%, 0.9), 2.0504025175em 0.6966680442em 7px hsla(270.6846499044, 100%, 50%, 0.9), 0.5518196816em -0.1122456593em 7px hsla(157.7529874591, 100%, 50%, 0.9), 0.9614041488em 0.8493887779em 7px hsla(207.6762175229, 100%, 50%, 0.9), 0.8707745957em 2.1562473858em 7px hsla(210.7344251836, 100%, 50%, 0.9), 2.0618671224em -0.2671726841em 7px hsla(303.1273035179, 100%, 50%, 0.9), 0.7219506522em 0.6233266146em 7px hsla(295.1093344473, 100%, 50%, 0.9), 2.0930582256em 2.4903386659em 7px hsla(278.2388407965, 100%, 50%, 0.9), 0.0894440535em -0.4723711156em 7px hsla(102.7886212157, 100%, 50%, 0.9), 1.5023136907em 1.9526788703em 7px hsla(332.5065247534, 100%, 50%, 0.9), 2.1582554131em 1.4564746586em 7px hsla(233.60838391, 100%, 50%, 0.9), 0.6650809248em 2.2802491751em 7px hsla(229.5971533347, 100%, 50%, 0.9), 2.4628840567em -0.4654801971em 7px hsla(139.8313070752, 100%, 50%, 0.9), 1.5967406604em 0.1335549013em 7px hsla(139.0360550454, 100%, 50%, 0.9), -0.278305671em 0.5039262105em 7px hsla(348.6979303964, 100%, 50%, 0.9), 0.2809655233em 0.5805557651em 7px hsla(241.9209493582, 100%, 50%, 0.9), 2.0602311486em 0.2509181067em 7px hsla(152.4685175353, 100%, 50%, 0.9), 2.2522517833em 1.9966864564em 7px hsla(73.2938309402, 100%, 50%, 0.9), -0.4105272647em 2.1412966813em 7px hsla(77.5355738591, 100%, 50%, 0.9), 0.9798661434em 1.0257970551em 7px hsla(195.1342877093, 100%, 50%, 0.9), 1.1570167024em 1.4044015331em 7px hsla(249.6403005988, 100%, 50%, 0.9), 0.0937442058em 0.568707172em 7px hsla(218.4933020363, 100%, 50%, 0.9), 0.3564774526em 0.5351858876em 7px hsla(40.9754010923, 100%, 50%, 0.9), 0.2106557402em -0.1587624895em 7px hsla(253.863855584, 100%, 50%, 0.9), 1.6472553443em 1.4526966733em 7px hsla(105.3870545103, 100%, 50%, 0.9), 1.1227215764em -0.3491369016em 7px hsla(72.4111337332, 100%, 50%, 0.9), 1.0978329368em 0.5833960427em 7px hsla(241.7730974778, 100%, 50%, 0.9), 0.1640995059em 0.9309935253em 7px hsla(235.9540084269, 100%, 50%, 0.9), 2.0582476961em 1.3280280472em 7px hsla(158.7579857556, 100%, 50%, 0.9), 1.823698584em 2.4083733463em 7px hsla(152.4275488054, 100%, 50%, 0.9), 0.2886005067em 0.8348919285em 7px hsla(186.56796646, 100%, 50%, 0.9), 0.8528595653em -0.3728851122em 7px hsla(229.5232281007, 100%, 50%, 0.9), 1.8087623449em 1.721274206em 7px hsla(174.0105205172, 100%, 50%, 0.9), 1.7964587488em 1.0933550852em 7px hsla(169.7236305887, 100%, 50%, 0.9), 0.3288732981em 1.4518676743em 7px hsla(254.9979686812, 100%, 50%, 0.9), 1.7682253676em -0.1858870637em 7px hsla(41.3677643138, 100%, 50%, 0.9), 2.1901050389em 0.3521248181em 7px hsla(288.4908217393, 100%, 50%, 0.9), 2.3564247352em 0.9297086959em 7px hsla(5.9436272402, 100%, 50%, 0.9), 2.1239970799em 1.6625429588em 7px hsla(342.6658307628, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
  z-index: -111;
}

head::after {
  text-shadow: -0.4885499077em 2.3139737351em 7px hsla(248.7382901101, 100%, 50%, 0.9), 2.4145132496em 0.8849111476em 7px hsla(105.3897328614, 100%, 50%, 0.9), -0.304599223em 2.331555726em 7px hsla(299.361786346, 100%, 50%, 0.9), 1.3151065404em -0.392619272em 7px hsla(67.0199805398, 100%, 50%, 0.9), 2.4727351151em 0.5049981583em 7px hsla(69.260541846, 100%, 50%, 0.9), -0.199065272em -0.4837493316em 7px hsla(81.1242541187, 100%, 50%, 0.9), 2.4026396787em 0.1583714348em 7px hsla(170.1568385137, 100%, 50%, 0.9), -0.2105076253em 0.9965804042em 7px hsla(317.8322204408, 100%, 50%, 0.9), 0.0212378602em -0.0315690355em 7px hsla(273.4278111451, 100%, 50%, 0.9), 0.0388875424em 2.4745326299em 7px hsla(137.1331798851, 100%, 50%, 0.9), 0.8241125075em 1.5658826696em 7px hsla(268.0232545649, 100%, 50%, 0.9), 1.6433019827em 1.7212026277em 7px hsla(183.7201397146, 100%, 50%, 0.9), 1.7151539952em 1.6600367538em 7px hsla(78.5253037255, 100%, 50%, 0.9), 2.1424441696em 2.2648536823em 7px hsla(359.9921876345, 100%, 50%, 0.9), 2.1233466134em -0.2736951587em 7px hsla(100.9439373636, 100%, 50%, 0.9), 2.3590993632em -0.1163934778em 7px hsla(252.2169703449, 100%, 50%, 0.9), 2.2589264408em 2.3541317001em 7px hsla(52.9998595981, 100%, 50%, 0.9), 1.4293724708em 0.5783853043em 7px hsla(90.006039103, 100%, 50%, 0.9), 0.1535313741em 1.2839382663em 7px hsla(359.7202483156, 100%, 50%, 0.9), 1.2724816586em 0.5797086498em 7px hsla(221.8644478153, 100%, 50%, 0.9), 0.1538628202em 2.0496511882em 7px hsla(322.0901317493, 100%, 50%, 0.9), -0.4504927798em -0.3937774038em 7px hsla(339.6372265011, 100%, 50%, 0.9), 1.8256541177em 2.0777684171em 7px hsla(219.6907928474, 100%, 50%, 0.9), 0.6260518392em -0.1685873711em 7px hsla(96.8787812883, 100%, 50%, 0.9), 1.778380491em 1.9697792516em 7px hsla(69.423085183, 100%, 50%, 0.9), 1.2062988682em 0.9292944128em 7px hsla(127.9216159777, 100%, 50%, 0.9), 1.5308440527em 1.1304603172em 7px hsla(294.5552572603, 100%, 50%, 0.9), -0.1214589559em 1.3091215203em 7px hsla(160.3866483485, 100%, 50%, 0.9), 2.0450566503em -0.1832963152em 7px hsla(34.0716012306, 100%, 50%, 0.9), 2.004629554em 2.1567295257em 7px hsla(338.2251740228, 100%, 50%, 0.9), 0.4591362233em 1.2092463456em 7px hsla(357.9986534096, 100%, 50%, 0.9), 0.3194367289em 2.4523576208em 7px hsla(180.7949743265, 100%, 50%, 0.9), 0.9342376009em 0.7180667925em 7px hsla(140.8614839524, 100%, 50%, 0.9), 2.1360077455em -0.0255877944em 7px hsla(111.5043867714, 100%, 50%, 0.9), 2.081765556em -0.0606993272em 7px hsla(112.6745650651, 100%, 50%, 0.9), 1.2022735683em -0.0222910955em 7px hsla(350.1484503875, 100%, 50%, 0.9), 1.8096235469em 1.9341498226em 7px hsla(258.2310135112, 100%, 50%, 0.9), 0.7736119321em 2.1143258867em 7px hsla(282.8693452396, 100%, 50%, 0.9), 0.3335655868em 2.2382287043em 7px hsla(162.6442135522, 100%, 50%, 0.9), 1.016434827em 2.1918471188em 7px hsla(273.0823367454, 100%, 50%, 0.9), 0.3479233159em 0.838041414em 7px hsla(359.4483135146, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
  z-index: -111;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
.App {
  padding: 10vh;
  text-align: center;
  color: white;
  z-index: 100;
  font-size: 0.8em;
  line-height: 1.8em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App input {
  border-radius: 50px;
  padding: 15px;
  width: 30vw;
  font-size: 0.6em;
  border: 0px;
  color: hsl(290, 97%, 28%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App input::-moz-placeholder {
  color: #947fa0;
  opacity: 1; /* Firefox */
}
.App input::placeholder {
  color: #947fa0;
  opacity: 1; /* Firefox */
}
.App input:hover {
  cursor: pointer;
  transform: scale(1.001);
}
.App button {
  border-radius: 50px;
  padding: 15px;
  font-size: 0.6em;
  border: 0px;
  margin-left: 1em;
  background-color: white;
  color: hsl(290, 97%, 28%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App button:hover {
  cursor: pointer;
  transform: scale(1.009);
}

body {
  padding: 30px;
}

.book-container {
  display: flex;
  justify-content: center;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(6, 6, 6, 0.3);
  display: none;
  background-size: cover;
  z-index: 1;
}

.demoCover {
  background-color: hsl(187, 26%, 93%);
  color: hsl(290, 97%, 28%);
  border: solid 1px hsl(188, 20%, 70%);
  box-shadow: 0 30px 40px rgb(255, 255, 255);
  overflow: hidden;
}
.demoCover .cover-content {
  padding-top: 40%;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.demoPage {
  background-color: hsl(187, 26%, 93%);
  color: hsl(290, 97%, 28%);
  border: solid 1px hsl(188, 20%, 70%);
  box-shadow: 0 30px 40px rgb(255, 255, 255);
  overflow: hidden;
}
.demoPage .page-content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.demoPage .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.4em;
  width: 90%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.demoPage .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 1px hsl(290, 97%, 28%);
  width: 90%;
  font-size: 0.3em;
  line-height: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.demoPage .page-content .page-footer {
  padding-top: 5px;
  height: 40px;
  width: 90%;
  border-top: solid 1px hsl(290, 97%, 28%);
  font-size: 80%;
  color: hsl(290, 97%, 28%);
  text-align: center;
  font-size: 0.3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}/*# sourceMappingURL=App.css.map */