html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: rgb(101, 49, 148);
  z-index: -111;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -111;
}

body::before {
  text-shadow: -0.3384685272em 1.6237520584em 7px hsla(356.0966036498, 100%, 50%, 0.9), 2.3886531868em 0.4257141134em 7px hsla(290.2231034246, 100%, 50%, 0.9), -0.4127933272em 1.9922063766em 7px hsla(117.9509997749, 100%, 50%, 0.9), 2.1635871139em -0.0939934597em 7px hsla(295.0828627132, 100%, 50%, 0.9), 0.9854400945em 1.6284108533em 7px hsla(41.0362889235, 100%, 50%, 0.9), 1.2516985803em 0.2240704451em 7px hsla(263.1296858406, 100%, 50%, 0.9), 1.6300363062em 1.9338506778em 7px hsla(297.392334665, 100%, 50%, 0.9), -0.2104623255em 1.504414932em 7px hsla(14.6919275858, 100%, 50%, 0.9), 2.2028653434em 2.1897081267em 7px hsla(88.2818945702, 100%, 50%, 0.9), -0.2933061865em 0.2282562497em 7px hsla(169.969711641, 100%, 50%, 0.9), 1.7292354006em 1.8696640909em 7px hsla(236.3374983543, 100%, 50%, 0.9), -0.0586298897em 2.1310776805em 7px hsla(42.5296578495, 100%, 50%, 0.9), 1.2031195535em 0.3774377485em 7px hsla(186.5697114201, 100%, 50%, 0.9), -0.277739336em 0.6202702957em 7px hsla(210.3898507462, 100%, 50%, 0.9), 0.9096759664em -0.0642344528em 7px hsla(122.4946850252, 100%, 50%, 0.9), 0.1768981087em 1.3414730858em 7px hsla(230.2076495063, 100%, 50%, 0.9), 1.7777386859em 2.1672331725em 7px hsla(278.2852316878, 100%, 50%, 0.9), -0.4925119334em 2.3718110338em 7px hsla(160.7917590038, 100%, 50%, 0.9), 1.3180267017em 1.0857929338em 7px hsla(97.1249491793, 100%, 50%, 0.9), 2.0730206135em 2.3706236181em 7px hsla(2.8909139481, 100%, 50%, 0.9), -0.3360912869em 0.5610880854em 7px hsla(101.2474278512, 100%, 50%, 0.9), 1.3733089604em 0.6701025013em 7px hsla(166.5057652734, 100%, 50%, 0.9), 1.9151757448em 0.1508578881em 7px hsla(95.6339581719, 100%, 50%, 0.9), 2.2745870193em 2.2640282853em 7px hsla(96.9171924078, 100%, 50%, 0.9), 1.95720583em 0.11336063em 7px hsla(330.9025836823, 100%, 50%, 0.9), 0.6233919274em 2.4733489582em 7px hsla(351.9248061122, 100%, 50%, 0.9), 0.4589792502em 0.1133109179em 7px hsla(167.6127465104, 100%, 50%, 0.9), 2.3024398111em 0.4059850574em 7px hsla(322.9045034874, 100%, 50%, 0.9), 1.9572626857em 1.8362083259em 7px hsla(57.3913440124, 100%, 50%, 0.9), 0.127573914em 0.0873172945em 7px hsla(276.4367335106, 100%, 50%, 0.9), 0.5635007643em -0.4822578582em 7px hsla(235.8653492633, 100%, 50%, 0.9), 2.1813454371em 0.6960567758em 7px hsla(227.0400727, 100%, 50%, 0.9), -0.4851481531em 1.7428832492em 7px hsla(62.2028118922, 100%, 50%, 0.9), 2.4138472397em 1.8268696322em 7px hsla(72.4263404864, 100%, 50%, 0.9), -0.3085210696em -0.4345282974em 7px hsla(275.8784932156, 100%, 50%, 0.9), -0.3661757258em -0.2842538843em 7px hsla(315.443228556, 100%, 50%, 0.9), 1.0200820391em -0.160046999em 7px hsla(253.0556996452, 100%, 50%, 0.9), 1.0200594132em 0.9037821073em 7px hsla(267.2663905473, 100%, 50%, 0.9), 1.9555380684em -0.4695206548em 7px hsla(215.6064739829, 100%, 50%, 0.9), 1.9085935745em 2.2854682413em 7px hsla(128.6455456419, 100%, 50%, 0.9), 1.9320849682em 0.1788219248em 7px hsla(299.0939055659, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
  z-index: -111;
}

body::after {
  text-shadow: 0.8729843054em 0.3980455133em 7px hsla(241.1949450251, 100%, 50%, 0.9), 0.966639257em 0.950952653em 7px hsla(308.212760924, 100%, 50%, 0.9), 0.0389664951em 1.3928854494em 7px hsla(159.3882746728, 100%, 50%, 0.9), -0.0440573829em 1.1276781075em 7px hsla(66.0535173611, 100%, 50%, 0.9), 2.3001175973em 0.525900814em 7px hsla(175.8864255198, 100%, 50%, 0.9), -0.2401403533em 0.0429113881em 7px hsla(60.3235705108, 100%, 50%, 0.9), 2.2517132513em 1.0802632369em 7px hsla(143.1883780794, 100%, 50%, 0.9), 0.2794458739em 1.8875107499em 7px hsla(310.3497934683, 100%, 50%, 0.9), 2.4911229278em 2.4188287928em 7px hsla(191.1632898593, 100%, 50%, 0.9), 1.0281495999em 2.3465697647em 7px hsla(12.1175967284, 100%, 50%, 0.9), 1.2433938142em 0.875041572em 7px hsla(54.0387774992, 100%, 50%, 0.9), -0.4137675776em 1.6632851125em 7px hsla(7.1410587686, 100%, 50%, 0.9), 1.5110166381em 1.9736424055em 7px hsla(47.4257189585, 100%, 50%, 0.9), 1.3561091751em 1.1206597838em 7px hsla(178.6757791853, 100%, 50%, 0.9), 2.0009800645em 1.4521292629em 7px hsla(28.3944399336, 100%, 50%, 0.9), 2.3017512677em 1.0051267677em 7px hsla(161.4853384191, 100%, 50%, 0.9), 2.4159692672em 0.1326622069em 7px hsla(354.1023251063, 100%, 50%, 0.9), 0.5638755257em 0.2545200159em 7px hsla(116.3741948413, 100%, 50%, 0.9), -0.3590044547em 0.614780296em 7px hsla(192.1636512778, 100%, 50%, 0.9), 2.3819578175em 1.7457906347em 7px hsla(0.3592996725, 100%, 50%, 0.9), 0.0969826762em 0.423687155em 7px hsla(166.2659328222, 100%, 50%, 0.9), 1.0726377054em 0.8253780022em 7px hsla(49.887621233, 100%, 50%, 0.9), 2.2329033846em 1.7724265023em 7px hsla(158.5592942123, 100%, 50%, 0.9), -0.1420142581em 1.5906402564em 7px hsla(202.5081212127, 100%, 50%, 0.9), 2.4452070648em 0.6958700605em 7px hsla(267.5532304505, 100%, 50%, 0.9), 1.6394738316em 0.1472296416em 7px hsla(282.0081118153, 100%, 50%, 0.9), 1.1872762818em 1.8965650368em 7px hsla(325.1593769784, 100%, 50%, 0.9), -0.1881673842em 1.8971192331em 7px hsla(341.0286773964, 100%, 50%, 0.9), 1.8130415614em 1.7088189883em 7px hsla(236.0032312061, 100%, 50%, 0.9), 0.6006982116em 0.1552707448em 7px hsla(274.9379537569, 100%, 50%, 0.9), 1.6998099012em 0.6029494342em 7px hsla(289.5842953476, 100%, 50%, 0.9), -0.1237201562em 1.3978825677em 7px hsla(223.542643042, 100%, 50%, 0.9), 2.0330313097em 1.522356599em 7px hsla(54.6869511352, 100%, 50%, 0.9), -0.3606858828em -0.4461630002em 7px hsla(209.03131237, 100%, 50%, 0.9), 0.3079621188em 1.4685513261em 7px hsla(88.8628232108, 100%, 50%, 0.9), 1.3383131084em 1.5434309435em 7px hsla(289.2689894282, 100%, 50%, 0.9), 2.3940214809em 1.834486718em 7px hsla(234.3353572944, 100%, 50%, 0.9), -0.1981172073em 1.8730162826em 7px hsla(219.4012775554, 100%, 50%, 0.9), 0.8050485456em 1.4551416639em 7px hsla(198.7866326345, 100%, 50%, 0.9), 2.3303430742em 1.2167778965em 7px hsla(144.2911010546, 100%, 50%, 0.9), -0.1769463844em -0.4725089679em 7px hsla(40.011907584, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
  z-index: -111;
}

head::before {
  text-shadow: 2.2432390323em 2.3918182734em 7px hsla(69.5470695732, 100%, 50%, 0.9), 1.0813411194em 0.6295643485em 7px hsla(47.5060320311, 100%, 50%, 0.9), 0.4336855607em -0.1251593433em 7px hsla(76.3962392159, 100%, 50%, 0.9), 2.4631256463em 1.7180593495em 7px hsla(58.8128360132, 100%, 50%, 0.9), 0.3009944495em 1.0707219553em 7px hsla(95.426538249, 100%, 50%, 0.9), 1.1418481904em 0.7927026621em 7px hsla(54.4123121355, 100%, 50%, 0.9), 2.3148648936em 0.8279107769em 7px hsla(98.9460373157, 100%, 50%, 0.9), 1.0489416241em 1.7681775149em 7px hsla(310.4920262987, 100%, 50%, 0.9), 2.0681467443em 0.6411155703em 7px hsla(294.6660842406, 100%, 50%, 0.9), 0.2872190305em 1.6470214653em 7px hsla(13.7330814608, 100%, 50%, 0.9), 2.4701614131em 1.6140478563em 7px hsla(334.1101874537, 100%, 50%, 0.9), 2.1918906219em -0.1334056527em 7px hsla(64.7766279492, 100%, 50%, 0.9), 2.38441066em 1.496127646em 7px hsla(252.4730274066, 100%, 50%, 0.9), 0.1328215076em 1.5498461137em 7px hsla(63.0767456764, 100%, 50%, 0.9), 0.8246997416em 0.3528183993em 7px hsla(292.2469265579, 100%, 50%, 0.9), 2.1708015422em 0.638845313em 7px hsla(295.1286216798, 100%, 50%, 0.9), 2.3095636507em 1.7535912965em 7px hsla(5.9275176001, 100%, 50%, 0.9), 2.4161077393em 1.908692429em 7px hsla(96.5470552779, 100%, 50%, 0.9), 1.8004785665em 2.4763459522em 7px hsla(253.7050675741, 100%, 50%, 0.9), 0.3634831909em 1.9791448192em 7px hsla(173.7843132035, 100%, 50%, 0.9), 1.7298029974em 0.5939459548em 7px hsla(167.7179966718, 100%, 50%, 0.9), 1.9624205719em 1.6453563233em 7px hsla(348.8287330998, 100%, 50%, 0.9), 1.164097102em 1.1171134709em 7px hsla(159.4225414795, 100%, 50%, 0.9), 2.2953839612em 1.4523753728em 7px hsla(70.9605422163, 100%, 50%, 0.9), 0.1469043398em 1.964127841em 7px hsla(197.6689516214, 100%, 50%, 0.9), 0.3246974096em 0.6299430132em 7px hsla(12.3047812019, 100%, 50%, 0.9), -0.2970549548em 1.9785874329em 7px hsla(186.9967578249, 100%, 50%, 0.9), 1.2396631581em 0.8074286568em 7px hsla(273.550138558, 100%, 50%, 0.9), 0.8418730045em -0.0554658464em 7px hsla(291.51910948, 100%, 50%, 0.9), 2.1491474034em 0.8734885498em 7px hsla(37.0724867402, 100%, 50%, 0.9), 1.2676447543em 1.3097265086em 7px hsla(252.7474628226, 100%, 50%, 0.9), 0.2009324087em -0.4772489533em 7px hsla(46.6543481392, 100%, 50%, 0.9), 0.960310588em 0.0573900148em 7px hsla(296.2123706781, 100%, 50%, 0.9), 0.2271070823em -0.4395516233em 7px hsla(254.2115977241, 100%, 50%, 0.9), 0.4226509323em 2.1440347823em 7px hsla(298.9987342353, 100%, 50%, 0.9), 2.2377045852em 2.183822576em 7px hsla(243.6561855828, 100%, 50%, 0.9), 1.0993796888em 0.4511586857em 7px hsla(100.3389766511, 100%, 50%, 0.9), 1.3474510477em 0.4339207112em 7px hsla(282.411465364, 100%, 50%, 0.9), 2.1883156477em 1.6047636096em 7px hsla(305.9381057883, 100%, 50%, 0.9), 0.0706007555em -0.35204903em 7px hsla(27.480719917, 100%, 50%, 0.9), -0.0949509474em -0.1640850859em 7px hsla(236.3332806243, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
  z-index: -111;
}

head::after {
  text-shadow: 2.4790367928em 2.2367665859em 7px hsla(93.3588696414, 100%, 50%, 0.9), 1.7138624513em 0.3706871412em 7px hsla(355.5428570138, 100%, 50%, 0.9), 1.3055705454em 0.8720068016em 7px hsla(341.9968461576, 100%, 50%, 0.9), -0.2296463607em 0.230651207em 7px hsla(295.6641904136, 100%, 50%, 0.9), 0.7470968456em 2.0218470457em 7px hsla(235.75617766, 100%, 50%, 0.9), 0.0970855687em 0.2950320856em 7px hsla(273.0955996332, 100%, 50%, 0.9), 1.3203040734em 0.9359245802em 7px hsla(57.4375441891, 100%, 50%, 0.9), 0.6256073225em 1.187247793em 7px hsla(75.1121029181, 100%, 50%, 0.9), 2.1977366311em 1.2831959587em 7px hsla(315.5140236092, 100%, 50%, 0.9), 1.6756272639em 0.1684255762em 7px hsla(198.4976743504, 100%, 50%, 0.9), 1.5609107408em 1.6061862352em 7px hsla(331.3819871432, 100%, 50%, 0.9), 1.7222129932em 1.3022105021em 7px hsla(65.358096858, 100%, 50%, 0.9), 1.0790290326em 1.1896376213em 7px hsla(95.7267231975, 100%, 50%, 0.9), 0.2913341258em 0.9887173669em 7px hsla(356.2021961787, 100%, 50%, 0.9), -0.2622688105em 0.3134402061em 7px hsla(178.0378326318, 100%, 50%, 0.9), 0.4654977604em 0.8370455637em 7px hsla(200.9512574141, 100%, 50%, 0.9), 2.4861494333em 1.9862499146em 7px hsla(21.914083079, 100%, 50%, 0.9), -0.296207979em 1.6710635382em 7px hsla(245.248790839, 100%, 50%, 0.9), 0.5913269362em 2.0056911054em 7px hsla(117.3579250221, 100%, 50%, 0.9), 1.8297360843em 0.7960315875em 7px hsla(46.6424361891, 100%, 50%, 0.9), 1.4700113195em 0.9326553907em 7px hsla(352.1684424924, 100%, 50%, 0.9), 1.2402905515em 1.5638861194em 7px hsla(344.2867962024, 100%, 50%, 0.9), 0.892056535em 0.5815925128em 7px hsla(317.1524102091, 100%, 50%, 0.9), 0.2115044018em -0.3717285957em 7px hsla(153.9870940509, 100%, 50%, 0.9), 1.9544292847em 1.971917187em 7px hsla(255.4388113335, 100%, 50%, 0.9), 0.089937329em 0.1109523901em 7px hsla(198.3387799464, 100%, 50%, 0.9), 1.9556104214em -0.2913197391em 7px hsla(273.3263257682, 100%, 50%, 0.9), 1.2154705254em -0.079760628em 7px hsla(25.8345926344, 100%, 50%, 0.9), 0.3430803285em 1.1849636506em 7px hsla(102.8459145493, 100%, 50%, 0.9), 0.0784913186em 1.6928137886em 7px hsla(232.7376016576, 100%, 50%, 0.9), 2.3422066887em 1.7479378854em 7px hsla(43.3915898118, 100%, 50%, 0.9), -0.0106100317em 0.9324792509em 7px hsla(271.9608695701, 100%, 50%, 0.9), 0.3869042187em -0.3401319281em 7px hsla(306.9882464131, 100%, 50%, 0.9), 1.1313167916em 0.8647773784em 7px hsla(329.6480405036, 100%, 50%, 0.9), 0.169747467em 0.0768283193em 7px hsla(357.2506697238, 100%, 50%, 0.9), -0.3862171976em 2.1554813681em 7px hsla(38.9151594883, 100%, 50%, 0.9), -0.1931978868em 1.7673094584em 7px hsla(137.1063592194, 100%, 50%, 0.9), 2.2625237569em 1.6728833443em 7px hsla(227.2733953155, 100%, 50%, 0.9), 0.4977990284em 0.7588789312em 7px hsla(186.6427687269, 100%, 50%, 0.9), 1.3693639417em 1.8741665431em 7px hsla(142.9946218119, 100%, 50%, 0.9), 1.3417202934em 1.9270412507em 7px hsla(219.8004115081, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
  z-index: -111;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
.App {
  padding: 10vh;
  text-align: center;
  color: white;
  z-index: 100;
  font-size: 0.8em;
  line-height: 1.8em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App input {
  border-radius: 50px;
  padding: 15px;
  width: 30vw;
  font-size: 0.6em;
  border: 0px;
  color: hsl(290, 97%, 28%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App input::-moz-placeholder {
  color: #947fa0;
  opacity: 1; /* Firefox */
}
.App input::placeholder {
  color: #947fa0;
  opacity: 1; /* Firefox */
}
.App input:hover {
  cursor: pointer;
  transform: scale(1.001);
}
.App button {
  border-radius: 50px;
  padding: 15px;
  font-size: 0.6em;
  border: 0px;
  margin-left: 1em;
  background-color: white;
  color: hsl(290, 97%, 28%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.App button:hover {
  cursor: pointer;
  transform: scale(1.009);
}

body {
  padding: 30px;
}

.book-container {
  display: flex;
  justify-content: center;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(6, 6, 6, 0.3);
  display: none;
  background-size: cover;
  z-index: 1;
}

.demoCover {
  background-color: hsl(187, 26%, 93%);
  color: hsl(290, 97%, 28%);
  border: solid 1px hsl(188, 20%, 70%);
  box-shadow: 0 30px 40px rgb(255, 255, 255);
  overflow: hidden;
}
.demoCover .cover-content {
  padding-top: 40%;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.demoPage {
  background-color: hsl(187, 26%, 93%);
  color: hsl(290, 97%, 28%);
  border: solid 1px hsl(188, 20%, 70%);
  box-shadow: 0 30px 40px rgb(255, 255, 255);
  overflow: hidden;
}
.demoPage .page-content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.demoPage .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  width: 90%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.demoPage .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 1px hsl(290, 97%, 28%);
  width: 90%;
  font-size: 0.4em;
  line-height: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.demoPage .page-content .page-footer {
  padding-top: 5px;
  height: 40px;
  width: 90%;
  border-top: solid 1px hsl(290, 97%, 28%);
  font-size: 80%;
  color: hsl(290, 97%, 28%);
  text-align: center;
  font-size: 0.3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}/*# sourceMappingURL=App.css.map */